@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Caveat&family=Indie+Flower&family=Kdam+Thmor+Pro&family=Monofett&family=My+Soul&display=swap');

h1{
    font-family: 'My Soul', cursive;
    text-shadow: 3px -4px 5px rgb(13, 255, 94);
    font-size: 5rem;
    color: red; 
    text-align: center; 
}
.headTag{
    height: 50px;
    width: 100%;
    position: relative;
    animation-name: kuro;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    
}
body{
    background: url("./img/background.jpg") no-repeat center center/cover;
}
@keyframes kuro {
    0%{
        top: 70vh;
        left: 0px;
    }
    100%{
        bottom: 0px;
        top: 0px;
    }
}
.assistance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
button{
    border-style: none;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    background: transparent;

}
label{
    text-align: center;
    color: white;
    font-size: 2rem;
}
.labelLoad{
    margin-top: 2rem;
}
#kuroImg{
    image-rendering: crisp-edges;
    /* border: 2px solid red; */
    border-radius: 10rem;
}

@media only screen and (max-width: 415px) {
    h1{
        font-size: 2.5rem;
    }
    body{
        width: 100%;
        height: 96vh;
        /* background: url("./background.jpg") no-repeat center center/cover; */
    }
}